<footer class="footer">
  <div class="container">
    <p>
      <a href="https://github.com/jsdocs/jsdocs">Source</a>
      <span class="text-muted">|</span>
      <a href="https://github.com/jsdocs/jsdocs/issues/new">Report an issue</a>

      <span class="pull-right"><a href="#">Back to top</a></span>
    </p>
  </div>
</footer>
