<div class="container">
  <h1>About</h1>

  <p>JSDocs provides a free hosting documentation service for open source <a href="https://developer.mozilla.org/en/docs/Web/JavaScript">JavaScript</a> projects that are publicy available on <a href="https://github.com">GitHub</a>.</p>

  <p>JSDocs displays documentation of any JavaScript project that follows <a href="http://usejsdoc.org">jsdoc</a> conventions. Docs are powered by <a href="http://documentation.js.org/">documentation.js</a>.</p>

  <p>The source code for JSDocs is available <a href="https://github.com/jsdocs/jsdocs">on GitHub</a>.</p>

  <p>JSDocs has been inspired by other community documentation providers such as RubyDoc and GoDoc.</p>

  <h3>Add a package to JSDocs</h3>

  <p>JSDocs generates documentation directly parsing the annotations from the source code. Your package must follow the <a href="http://usejsdoc.org">jsdoc</a> conventions <a href="https://github.com/documentationjs/documentation/blob/master/docs/GETTING_STARTED.md">guidelines</a> while writing documentation in your packages.</p>

  <p>To add a package to JSDoc, <a href="/">search</a> for the package by import path. If JSDocs does not already have the documentation for the package, then JSDocs will fetch the source from the version control system on the fly and add the documentation.</p>

  <p>JSDocs checks for package updates once per week. You should be able to force JSDocs to update the documentation immediately by clicking the refresh link at the bottom of the package documentation page.</p>

  <!--
  <h3 id="remove">Remove a package from JSDoc</h3>

  JSDocs automatically removes packages deleted from the version control system
  when JSDocs checks for updates to the package. You can force JSDocs to remove a
  deleted package immediately by clicking the refresh link at the bottom of the
  package documentation page.

  If you do not want JSDocs to display documentation for your package, send mail
  to golang-dev@googlegroups.com with the import path of the path of the package
  that you want to remove.
  -->

  <h3>Feedback</h3>

  <p>Send your ideas, feature requests and questions to the <a href="https://groups.google.com/group/jsdocs-dev">jsdocs-dev mailing list</a>. Report bugs using the <a href="https://github.com/jsdocs/jsdocs/issues/new">GitHub Issue Tracker</a>.</p>

  <h3>Stage</h3>

  <p>JSDocs is currently in Alpha stage. Things could be eventually broken and major improvements will be done in a future, including a better website UI and features.</p>

  <h3>Contributing</h3>

  <p>If you're interested in give a hand, you're more than welcome.</p>

  <p>Take a look the <a href="https://github.com/jsdocs/jsdocs/issues">Github issues</a>and <a href="https://github.com/jsdocs/jsdocs/milestones">milestones</a> to get started.</p>

  <h3>More Documentation</h3>

  <p>More documentation about JSDocs is available on <a href="https://github.com/jsdocs/jsdocs/jsdocs">the project's GitHub</a>.</p>

</div>
