<main container>
  <h1>
    404
    <small>OOPS! PAGE NOT FOUND!</small>
  </h1>

  <p>
    <!--<a href="{{request.url}}">{{request.url}} </a><br />-->
    Sorry we failed to locate the resource you're looking for.
  </p>

  <a href="/">Go back home</a>
</main>
