<div class="container">
  <div class="jumbotron">
    <h2>Search for JavaScript packages</h2>
    <form>
      <div class="input-group">
        <form action="/search" role="search">
          <input class="form-control" name="q" autofocus="autofocus" value="" placeholder="Search for package by name or organization" type="text">
        </form>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search</button>
        </span>
      </div>
    </form>
  </div>

  <p>Welcome to JS Docs: a free documentation hosting service for the JavaScript open source community.</p>

  <p>JS Docs provides free host documentation for <a href="http://golang.org/">JavaScript</a> projects on GitHub. </p>

  <p>Read the <a href="/about">About Page</a> for information about adding packages to JSDocs and more.</p>

  <hr />

  <div class="row">
    <div class="col-sm-6">
      <h4>Recently updated packages</h4>
      <ul class="list-unstyled">
        {{#each recent}}
          <li><a href="{{this}}">{{this}}</a></li>
        {{/each}}
    </div>

    <div class="col-sm-6">
      <h4>Usesul resources</h4>
      <ul class="list-unstyled">
        <li><a href="http://usejsdoc.org">JSDoc specification</a></li>
        <li><a href="https://github.com/documentationjs/documentation/blob/master/docs/GETTING_STARTED.md">Guide for writting documentation</a></li>
        <li><a href="http://documentation.js.org/demo/demo-documentation/">Documentation demo</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">JavaScript language reference</a></li>
        <li><a href="http://www.ecma-international.org/ecma-262/6.0/">Latest ECMAScript specification</a></li>
        <li><a href="https://kangax.github.io/compat-table/es6/">ES compatibility table</a></li>
        <li><a href="https://github.com/search?o=desc&amp;q=language%3Ajavascript&amp;s=stars&amp;type=Repositories">Most stars</a>,
          <a href="https://github.com/search?o=desc&amp;q=language%3Ajavascript&amp;s=forks&amp;type=Repositories">most forks</a>,
          <a href="https://github.com/search?o=desc&amp;q=language%3Ajavascript&amp;s=updated&amp;type=Repositories">recently updated</a> on GitHub
        </li>
      </ul>
    </div>
  </div>
</div>
