<main container>
  <h1>
    401
    <small>OOPS! ACCESS UNAUTHORIZED!</small>
  </h1>

  <p>
    <a href="<%= request.url %>"><%= request.url %></a> <br> The request requires user authentication.
  </p>

  <a href="/">Go back home</a>
</main>